llama-cpp-python -C cmake.args="-DLLAMA_BLAS=ON;-DLLAMA_BLAS_VENDOR=OpenBLAS"
llama-index
llama-index-llms-llama-cpp
llama-index-embeddings-huggingface
transformers
torch 
torchvision 
torchaudio
fpdf2
